/* ===== ESTILO GENERAL ===== */

body{
    background: #f4f6f9;
    font-family: Arial, Helvetica, sans-serif;
}

/* TITULOS */
h1,h2,h3{
    color:#0d6efd;
    font-weight:bold;
}

/* TARJETAS */
.card{
    border-radius:12px;
    border:none;
    box-shadow:0px 4px 12px rgba(0,0,0,0.1);
}

/* BOTONES */
.btn{
    border-radius:8px;
}

/* TABLAS */
table{
    width:100%;
    background:white;
    border-radius:10px;
    overflow:hidden;
}

th{
    background:#0d6efd;
    color:white;
    padding:10px;
}

td{
    padding:10px;
}

/* FILA HOVER */
tr:hover{
    background:#f1f1f1;
}

/* FORMULARIOS */
input, textarea, select{
    border-radius:8px !important;
}

/* CENTRAR LOGIN */
.login-box{
    margin-top:100px;
}